<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="row form-group">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <label for="title">Title</label>
          <input type="text" class="form-control" ngModel name="title" required ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="comment">Comment</label>
          <input type="text" class="form-control" ngModel name="comment" required ngModel>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary" type="submit" class="btn btn-primary" [disabled]="!f.valid">Add Post</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="button" class="btn btn-danger" (click)="clearAll()">Clear Post</button>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
</form>
<hr>
<div *ngIf="loadedData.length>0">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="form-group" *ngFor="let post of loadedData">
          <li class="form-control">
            <h4>{{ post.title }}</h4>
            <p>{{ post.comment}}</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="alert alert-danger" *ngIf="error">
  <h1>An error occured while loading</h1>
  <p>{{error.message}}</p>
</div>
